div.row{
    /*border:solid 10px whitesmoke;*/
}
h1
{
    text-align: center
}

.zoom
{
    padding: 50px;

    transition: transform .2s; /* Animation */
}

.zoom:hover
{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


#viewAd
{
    width: 4.5em;
}
.showAds{
    display: inline-block;
    max-width:45%;
    padding: 10px;
}
h2>a:hover{
    color:#d05702;
}
#viewProfile
{
    width: 5.6em;
}

#createAd
{
    position: relative;
    left: 0.5em;
    width: 5.1em;

}

.searchForm2
{
    position: relative;
    top: -6em;
    left: 47em;
    width: 40%;
    margin: 0 !important;
}

#searchPgInput
{
    position: relative;
    top: 6.8em;
    left: 4em;
    height: 10em;
}

#searchLabel
{
    color: #d05702;
    position: relative;
    left: 14em;
}

#searchPgBtn
{
    position: relative;
    top: 6.8em;
    left: 4em;
}


.searchForm1
{
    position: relative;
    top: 2em;
    left: 2em;
    width: 36em;
    margin: 0 !important;
}

#contact
{
    width: 4.1em;
}

a:hover
{
    text-decoration: none;
    color: #d05702;
}
.ad-name{
    color: #d05702;
}
.ad-name:hover{
    color: #0060be;
}

.navbar-right .anchorHover:hover
{
    color: #d05702;
}

.searchInput
{
    position: relative;
    top: 1em;
    height: 5em;
}

#myNav .anchorHover:hover
{
    color: #d05702;
}

.formLabels
{
    color: #d05702;
}

.inputFont
{
    font-family: "Lao MN";
}

.titleColor
{
    color: #0060be;
}

body
{
    font-family: 'Bangers', cursive;
    color: black;
    background-image: url("../images/dark-honeycomb.png");
}

img#unemployed
{
    width:80%;
    height: 40%;
    margin-left:10%;
}
img#team{
    width:80%;
    height: 40%;
    margin-left:10%;
}
div.card-body{
    border-radius:8%;
    /*border: 2px solid whitesmoke;*/
        -webkit-box-shadow:0px 0px 20px 12px #222;
        -moz-box-shadow:0px 0px 20px 12px #222;
        box-shadow:0px 0px 20px 12px #222;
}
div.jumbotron{
    text-align: center;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 10%;
    background-color:transparent;
    /*border: 2px solid whitesmoke;*/
    -webkit-box-shadow:0px 0px 20px 12px #222;
    -moz-box-shadow:0px 0px 20px 12px #222;
    box-shadow:0px 0px 20px 12px #222;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 5%;
}
#dogs
{
    position: fixed;
    top: 0em;
    left: 5.5em;
    color:#d05702;
    text-shadow:0px 5px 10px #000;
}
#under
{
    position: fixed;
    top: 0em;
    left: 3.3em;
    color:#0060be;
    text-shadow:0px 5px 10px #000;
}
#subheading
{
    position: relative;
    left: -5em;
    color: #88959b;
    text-shadow:0px 5px 10px #000;
}
.card
{
    background-color: transparent;
}

#reg-cust
{
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1.2em;
    position: relative;
    /*opacity: 0.6;*/
    padding: 0.6em 0.6em 0.6em 0.6em;
    left: -1em;
}

#adlist-cust
{
    font-size: 1.2em;
    position: relative;
    /*opacity: 0.6;*/
    padding: 0.6em 0.6em 0.6em 0.6em;
    left: 6.4em;
}

#greetingNav
{
    position: relative;
    top: -5em;
    left: 2em;
    color: #d05702;
}

#login-cust
{
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1.2em;
    position: relative;
    /*opacity: 0.6;*/
    padding: 0.6em 0.6em 0.6em 0.6em;
    /*left: -3em;*/
}


.btn-outline-dark
{
    border-color: #FFF;
    color: #FFF;
}
.btn-outline-dark:hover
{
    border-color: #343a40;
}

.card-text
{
    font-size: 1.5em;
    color: #88959b;
}
a.card-link
{
    margin-left:33%
}

.label{
    color: #88959b;
    font-size: x-large;
}
.card-title{
    text-shadow: 0px 5px 10px #000;
}
h4 {
    text-shadow: 0px 5px 10px #000;
}
.description{
    color: #88959b;
    font-size: x-large;
    font-family: 'Encode Sans Condensed', sans-serif;
}
input[type='checkbox'] {
    width:20px;
    height:20px;
}
.title{
    color:#d05702;
    text-shadow:0px 5px 10px #000;
}
.title2{
    color:#0060be;
    text-shadow:0px 5px 10px #000;
}
.title3{
    color: #d05702;
    text-shadow:0px 5px 10px #000;
}
#editTitle{
    font-family: 'Encode Sans Condensed', sans-serif;
}
#editDescription{
    font-family: 'Encode Sans Condensed', sans-serif;
}
.label2
{
    padding-right: .5em;
    padding-left: 1.5em;
    color:#0060be;
    font-size: x-large;
}
.label3{
    color: #d05702;
    font-size: x-large;
}
#editForm{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*=======================================================*/


