div.splash{
    border: 1px solid white;
}
h1
{
    text-align: center
}

a:hover
{
    color: #d05702;
}

.navbar-right .anchorHover:hover
{
    color: #d05702;
}

#myNav .anchorHover:hover
{
    color: #d05702;
}

.formLabels
{
    color: #d05702;
}

.inputFont
{
    font-family: "Lao MN";
}

.titleColor
{
    color: #0060be;
}

body
{
    font-family: 'Bangers', cursive;
    background-image: url("../images/dark-honeycomb.png");
    color: black;
}
img#unemployed{
    width:80%;
    height: 40%;
    margin-left:10%;
}
img#team{
    width:80%;
    height: 40%;
    margin-left:10%;
}
#dogs
{
    position: fixed;
    top: 0em;
    left: 3.4em;
    color:#d05702
}
#under
{
    position: fixed;
    top: 0em;
    left: 1.3em;
    color:#0060be;
}
#subheading
{
    position: relative;
    left: 3em;
    color: #88959b;
}
.card
{
    background-color: transparent;
}

#reg-cust
{
    font-size: 1.2em;
    position: relative;
    /*opacity: 0.6;*/
    padding: 0.6em 0.6em 0.6em 0.6em;
    left: -1em;
}

#adlist-cust
{
    font-size: 1.2em;
    position: relative;
    /*opacity: 0.6;*/
    padding: 0.6em 0.6em 0.6em 0.6em;
    left: 6.4em;
}

#login-cust
{
    font-size: 1.2em;
    position: relative;
    /*opacity: 0.6;*/
    padding: 0.6em 0.6em 0.6em 0.6em;
    /*left: -3em;*/
}

.btn-outline-dark
{
    border-color: #FFF;
    color: #FFF;
}
.btn-outline-dark:hover
{
    border-color: #343a40;
}

p.card-text{
    margin-left:18%;
    color: #88959b;
}
a.card-link{
    margin-left:33%
}
.label{
    color: #88959b;
    font-size: x-large;
}
.title{
    color:#d05702;
}
.label2{
    padding-right: .5em;
    padding-left: 1.5em;
    color:#0060be;
}
/*=======================================================*/


