div.row{
    /*border:solid 10px whitesmoke;*/
}
h1
{
    text-align: center
}


#viewAd
{
    width: 4.5em;
}

#viewProfile
{
    width: 5.6em;
}

#createAd
{
    position: relative;
    left: 0.5em;
    width: 5.1em;

}

#contact
{
    width: 4.1em;
}

a:hover
{
    color: #d05702;
}

.navbar-right .anchorHover:hover
{
    color: #d05702;
}

#myNav .anchorHover:hover
{
    color: #d05702;
}

.formLabels
{
    color: #d05702;
}

.inputFont
{
    font-family: "Lao MN";
}

.titleColor
{
    color: #0060be;
}

body
{
    font-family: 'Bangers', cursive;
    color: black;
    background-image: url("../images/dark-honeycomb.png");
}

img#unemployed
{
    width:80%;
    height: 40%;
    margin-left:10%;
}
img#team{
    width:80%;
    height: 40%;
    margin-left:10%;
}
div.card-body{
    border-radius:8%;
    /*border: 2px solid whitesmoke;*/
        -webkit-box-shadow:0px 0px 20px 12px #222;
        -moz-box-shadow:0px 0px 20px 12px #222;
        box-shadow:0px 0px 20px 12px #222;
}
div.jumbotron{
    text-align: center;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 10%;
    background-color:transparent;
    /*border: 2px solid whitesmoke;*/
    -webkit-box-shadow:0px 0px 20px 12px #222;
    -moz-box-shadow:0px 0px 20px 12px #222;
    box-shadow:0px 0px 20px 12px #222;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 5%;
}
#dogs
{
    position: fixed;
    top: 0em;
    left: 5.5em;
    color:#d05702;
    text-shadow:0px 5px 10px #000;
}
#under
{
    position: fixed;
    top: 0em;
    left: 3.3em;
    color:#0060be;
    text-shadow:0px 5px 10px #000;
}
#subheading
{
    position: relative;
    left: -5em;
    color: #88959b;
    text-shadow:0px 5px 10px #000;
}
.card
{
    background-color: transparent;
}

#reg-cust
{
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1.2em;
    position: relative;
    /*opacity: 0.6;*/
    padding: 0.6em 0.6em 0.6em 0.6em;
    left: -1em;
}

#adlist-cust
{
    font-size: 1.2em;
    position: relative;
    /*opacity: 0.6;*/
    padding: 0.6em 0.6em 0.6em 0.6em;
    left: 6.4em;
}

#greetingNav
{
    position: relative;
    top: -5em;
    left: 2em;
    color: #d05702;
}

#login-cust
{
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1.2em;
    position: relative;
    /*opacity: 0.6;*/
    padding: 0.6em 0.6em 0.6em 0.6em;
    /*left: -3em;*/
}

.btn-outline-dark
{
    border-color: #FFF;
    color: #FFF;
}
.btn-outline-dark:hover
{
    border-color: #343a40;
}

p.card-text{
    margin-left:18%;
    color: #88959b;
}
a.card-link{
    margin-left:33%
}
.label{
    color: #88959b;
    font-size: x-large;
}
.description{
    color: #88959b;
    font-size: x-large;
    font-family: 'Encode Sans Condensed', sans-serif;
}
input[type='checkbox'] {
    width:20px;
    height:20px;
}
.title{
    color:#d05702;
}
.label2{
    padding-right: .5em;
    padding-left: 1.5em;
    color:#0060be;
    font-size: x-large;
}
/*=======================================================*/


